:root {
    --bs-liana-green: #4c8930;
    --bs-white: #fff;
    --bs-input-select: #373a3c;
    --bs-input-select-border: #dddddd;
    --bs-gray: #999999;

    --bs-news-bg: #eceeef;
    --bs-news-border: #e0e0e0;

    --bs-black: #000;
}